.wrapper {
  display: flex;
  justify-content: space-around;

  .image {
    padding: 1rem;
    width: 150rem;
    img {
      width: 80%;
      max-height: 50vh;
    }
  }
  .details {
    align-self: center;
  }
}
button {
  cursor: pointer;
  outline: none;
  &.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    a {
      text-decoration: none;
    }
  }
  &.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
  }
  &.outline:active {
    border-radius: 22px;
  }

  &.white-green {
    font-weight: 700;
    color: #7dc21e;
    border-color: #7dc21e;
    background: white;
  }
  &.white-green:hover {
    color: white;
    background: #7dc21e;
    border-color: white;
  }
  &.green-white {
    font-weight: 700;
    color: #7dc21e;
    border-color: #7dc21e;
    background: transparent;
  }
  &.green-white:hover {
    color: white;
    background: #7dc21e;
    border-color: #7dc21e;
  }
}
